%section.cell.blog.related
  %header
    %h1= t 'blog.cells.related'
  - @related_posts.each do |post|
    %article.post
      %header
        %h3= link_to truncate(post.title, length: 60), blog.post_path(post)
      .image
        = link_to image_tag(post.image.thumb), post if post.image?
      .content
        = post.content.truncate(60)