%section.cell.blog-post.show
  %header.center
    %h2= t '.cell.title'
  - @posts.each do |post|
    %article.post
      %header
        %h3= link_to extract(post.title, truncate: 60), blog.post_path(post)
      .content.justify
        = extract post.content, truncate: 160